.headers-info-jumbotron {
    position: relative;
    height: 400px;
    &_heading {
        position: absolute;
        z-index: 1;
    }

    div {
        position: relative;
        z-index: -5;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 400px;

    
    img {
        background-size: cover;
        position : relative;
    }

    }
}