.home {
    &_newsletter {
        p {
          font-size: 1.1rem;  
        }
    }
    &_routines {
      margin-top: -2rem;
      position: relative;
      z-index: -1;

      @include breakpoints-up (md) {
        margin-top: -4rem;
      }
      @include breakpoints-up (lg) {
        margin-top: -5rem;
      }
    }
    &_trainer {
      // &_element {
      //   left: 13rem;
      //   opacity: .5;
      // }
      h2 {
        margin: -9rem 0rem 0rem -3rem;
        @include breakpoints-down (sm) {
          margin: -9rem 0rem 0rem 2rem;
        }
      }
    }

    &_shop {
      .card {
        border: none;
        
        &-body {
          border: solid 1px $color-border;
          border-top: none;
          border-radius: inherit;
        }
        
      }

      &_inner-overlay_container {
        position: relative;
        cursor: pointer;

        &_body {
          position: absolute;
          background-color: rgba(239,240,243,.8);
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          opacity: 0;
          transition: all ease 350ms;

          &:hover {
            opacity: 1;
            transition: all ease 350ms;
          }
        }

       
      }
    }
}